// global variables
$primary-color: rgb(75, 75, 253);
$max-width-container: 1200px;
$white-color: #ffffff;
$black-color: #000000;
$padding-footer: 25px 30px 20px 25px;
$mt-30: 30px;
$card-box-shadow: 0 0 40px rgb(221, 221, 221);


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.container{
    max-width: $max-width-container;
    margin: auto;
}


// global styles for admin page
.flex_header_admin{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content_dashboard_admin{
    height: 2000px;
    padding: 20px 20px 0 20px;

    h2{
        margin: 0;
        font-size: 1.4em;
    }
}

// tabel styling
.tbl_class{
    width: 100%;
    margin-top: 30px;
    
    border-radius: 10px;
    border-spacing: 0;

    .tbl_class_head{
        font-size: 1em;
        background-color: $primary-color;
        color: $white-color;
        
        tr{
            th{
                padding: 8px;

            }
        }
    }

    .tbl_class_body{
        text-align: center;
        
        tr{
            &:nth-child(even){
                background-color: rgb(218, 218, 218);
            }
            
            td{
                padding: 20px;

            }
        }

        // button styling for admin page
        .btn_delete_bantuan{
            background-color: rgb(255, 46, 46);
            color: $white-color;
            
            &:hover{
                background-color: red;
            }
        }

        .btn_delete_user{
            background-color: rgb(255, 46, 46);
            color: $white-color;
            
            &:hover{
                background-color: red;
            }
        }

        .btn_as_admin{
            background-color: rgb(255, 185, 55);
            color: $white-color;

            .btn_yakin{
                background-color: red;
            }
            
            &:hover{
                background-color: rgb(255, 166, 0);
            }

            &:disabled{
                background-color: rgb(61, 61, 61);
            }
        }

        // role styling for admin page
        .role_admin{
            background-color: rgba(122, 180, 255, 0.397);
            color: rgba(4, 0, 255, 0.815);
            font-weight: bold;
            font-size: .85em;
            padding: 7px;
            border-radius: 8px;
        }

        .role_warga{
            background-color: rgba(78, 252, 165, 0.397);
            color: rgba(43, 170, 31, 0.836);
            font-weight: bold;
            font-size: .85em;
            padding: 7px;
            border-radius: 8px;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .tbl_class{
        .tbl_class_head{
            tr{
                th{
                    font-size: .9em;
                }
            }
        }

        .tbl_class_body{
            tr{
                td{
                    padding: 10px;
                    font-size: .9em;
                }
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .MuiPaper-root{
        margin-top: 15px
    }
}

// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

// others scss files
// landing page styles
@import "./landing_page/navbar.scss";
@import "./landing_page/hero.scss";
@import "./landing_page/info.scss";
@import "./landing_page/join_us.scss";
@import "./landing_page/footer.scss";
@import "./landing_page/about.scss";
@import "./landing_page/bantuan.scss";
@import "./landing_page/login.scss";
@import "./landing_page/bantuan_detail.scss";
@import "./landing_page/masukan.scss";
@import "./landing_page/feed_success.scss";
@import "./landing_page/edit_profile.scss";
@import "./landing_page/bantuan_not_found.scss";
@import "./landing_page/register.scss";
@import "./landing_page/register_success.scss";
@import "./landing_page/page_awal_kuesioner.scss";
@import "./landing_page/kuesioner_pendaftaran.scss";
@import "./landing_page/hasil_kuesioner_pendaftaran.scss";
@import "./landing_page/form_pendaftaran.scss";
@import "./landing_page/success_pendaftaran_bantuan.scss";
@import "./landing_page/sudah_mengisi_kuesioner.scss";
@import "./landing_page/success_edit_profile.scss";


// admin page styles
@import "./admin_page/navbar_admin.scss";
@import "./admin_page/head_admin.scss";
@import "./admin_page/dashboard.scss";
@import "./admin_page/user_page.scss";
@import "./admin_page/kelola_bantuan_page.scss";
@import "./admin_page/tambah_bantuan.scss";
@import "./admin_page/edit-profile-admin.scss";
@import "./admin_page/success_edit_profile_admin.scss";
@import "./admin_page/kriteria_bantuan.scss";
@import "./admin_page/edit-kriteria-bantuan.scss";

// Empty page style
@import "./empty_page.scss";