.carousel-item{
    // height: 100px;
    // width: 100px;
    
    img{
        margin: auto;
        width: 50%;
        border-radius: 50%;
        border: 2px solid rgb(75, 75, 253);
    }
    
    p{
        margin: auto;
        // width: 50%;
    }
}