// styling for padding component footer when page is loaded
.bantuan_foot{
    padding: $padding-footer;
    margin-top: $mt-30;
}

.bantuan{
    padding-left: 25px;
    padding-right: 25px;
    max-width: $max-width-container;
    margin: auto;

    h1{
        text-align: center;
    }

    .search_bantuan{
        display: flex;
        justify-content: center;

        form{
            display: flex;

            // styling for textfield search bantuan
            .MuiTextField-root{
                width: 550px;
                margin-right: 20px;
            }

            .btn_cari_bantuan{
                padding: 5px;
                width: 100px;
                font-weight: bold;
            }
        }
    }

    .bantuan_content{
        margin-top: 30px;
        display: flex;

        .filtering_bantuan{
            text-align: left;

            h3{
                margin: 0 0 20px 0;
            }

            p{
                margin: 0 0 7px 0;
                color: rgba(0, 0, 0, 0.6);
            }
        }

        .result_bantuan{
            margin: 0 0 0 25px;
            width: 80%;
            display: flex;
            flex-direction: column;

            p{
                margin: 10px 0 20px 0;
            }

            .detail_bantuan{
                display: flex;
                width: 75%;
                justify-content: space-between;
            }

            // styling for box result data bantuan
            .MuiBox-root{
                transition: .5s;
                margin-bottom: 20px;

                &:hover{
                    box-shadow: $card-box-shadow;
                    cursor: pointer;
                }
            }
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .bantuan{
        margin-top: 30px;

        h1{
            font-size: 1.6em;
        }

        .search_bantuan{
            width: 80%;
            margin: auto;
            
            form{
                .MuiTextField-root{
                    width: 400px;
                }
            }
        }

        .bantuan_content{
            justify-content: center;
            flex-direction: column;

            .result_bantuan{
                margin: 20px 0 0 0;
                width: 100%;

                .detail_bantuan{
                    width: 450px;
                }
            }

            .filtering_bantuan{
                display: block;
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .bantuan{
        .search_bantuan{
            form{
                // styling for textfield search bantuan
                .MuiTextField-root{
                    width: 100%;
                }
            }
        }

        .bantuan_content{
            .result_bantuan{
                .detail_bantuan{
                    width: 360px;

                    p{
                        font-size: .9em;
                    }
                }
            }
        }
    }
}