// styling for padding component footer when page is loaded
.bantuan_foot{
    padding: $padding-footer;
    margin-top: $mt-30;
}

.bantuan{
    padding-left: 25px;
    padding-right: 25px;
    max-width: $max-width-container;
    margin: auto;

    h1{
        text-align: center;
        font-size: 1.7em;
    }

    .search_bantuan{
        display: flex;
        justify-content: center;

        // styling for textfield search bantuan
        .MuiTextField-root{
            width: 60%;
        }
    }

    .bantuan_content{
        margin-top: 10px;
        display: flex;

        .result_bantuan{
            width: 100%;
            display: flex;
            flex-direction: column;

            p{
                margin: 10px 0 0 0;
            }

            // styling for box result data bantuan
            .MuiBox-root{
                transition: .5s;
                margin-bottom: 20px;

                &:hover{
                    box-shadow: $card-box-shadow;
                    cursor: pointer;
                }
            }
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .bantuan{
        h1{
            font-size: 1.3em;
        }

        .search_bantuan{
            form{
                .MuiTextField-root{
                    width: 55%;
                }
            }
        }

        .bantuan_content{
            justify-content: center;
            flex-direction: column;

            .result_bantuan{
                margin: 20px 0 0 0;
                width: 100%;
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .bantuan{
        .search_bantuan{
            .MuiTextField-root{
                width: 100%;
            }
        }
    }
}