.not_found{
    .flex_not_found{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 500px;
        }

        h1{
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 1.4em;
        }
    }
}

// Responsive Breakpoints
// for mobile
@media screen and (max-width: 576px){
    .not_found{
        .flex_not_found{
            img{
                width: 350px;
            }

            h1{
                font-size: 1.2em;
            }
        }
    }
}