// styling for padding component footer when page is loaded
.bantuan_detail_foot{
    padding: $padding-footer;
    margin-top: $mt-30;
}

.bantuan_detail{
    max-width: $max-width-container;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    .bantuan_detail_content{
        display: flex;

        .info_nama_and_deskripsi{
            width: 56%;
            display: flex;
            flex-direction: column;

            h1{
                margin: 0 0 11px 0;
            }

            p{
                margin: 0 0 20px 0;
            }

            img{
                width: 95%;
                border-radius: 3px;
            }
        }

        .group_kapasitas_and_btn{
            margin-left: 20px;

            .info_kapasitas{
                display: flex;
                padding: 100px 0 25px 0;
                
                h2{
                    margin: 0 0 5px 0;
                }

                p{
                    margin: 0;
                }

                .kapasitas{
                    margin-right: 50px;
                }
            }

            .btn_daftar_bantuan{
                width: 100%;
                font-weight: bold;
            }
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .bantuan_detail{
        .bantuan_detail_content{
            margin-top: 20px;
            flex-direction: column;
    
            .info_nama_and_deskripsi{
                width: 100%;
            }
    
            .group_kapasitas_and_btn{
                margin: 0;
    
                .info_kapasitas{
                    padding-top: 10px;
                }
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .bantuan_detail{
        .bantuan_detail_content{
            .info_nama_and_deskripsi{
                h1{
                    font-size: 1.7em;
                }

                h2{
                    font-size: 1.2em;
                }

                p{
                    font-size: .9em;
                }
            }

            .group_kapasitas_and_btn{
                h2{
                    font-size: 1.2em;
                }
            }
        }
    }
}