.feed_success{
    max-width: $max-width-container;
    margin: auto;

    .flex_success{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 450px;
        }

        h1{
            margin: 0 0 10px 0;
            padding: 0;
        }

        p{
            margin: 0 0 20px 0;
            padding: 0;
        }

        .btn_kembali{
            padding: 15px;
            font-weight: bold;
        }
    }
}