// styling for padding component footer when page is loaded
.foot_foot{
    padding: 50px 30px 20px 25px;
}

.footer{
    background-color: $black-color;
    color: $white-color;

    .wrap_container{
        max-width: 1300px;
        margin: auto;

        h1{
            margin: 0;
            font-size: 1.6em;
        }

        hr{
            margin: 20px 0 0 0;
            opacity: .3;
        }

        .footer_nav{
            width: 300px;

            ul{
                display: flex;
                margin: 10px 0 0 0;
                padding: 0;
                justify-content: space-between;

                li{
                    list-style: none;

                    a{
                        text-decoration: none;

                        &:hover{
                            color: $white-color;
                        }
                    }
                }
            }

            .active_foot{
                color: $white-color;
            }

            .unselected_foot{
                color: rgb(133, 133, 133);
            }
        }

        .footer_sosmed{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;

            .footer_created{
                h2{
                    margin: 0;
                    font-size: .9em;
                    font-weight: 300;
                    color: rgb(170, 170, 170);
                }
            }

            .footer_social_media{
                width: 100px;
                display: flex;
                justify-content: space-between;

                a{
                    color: rgb(133, 133, 133);

                    &:hover{
                        color: $white-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .foot_foot{
        padding-top: 40px;
    }

    .footer{
        .wrap_container{
            h1{
                font-size: 1.5em;
            }

            .footer_nav{
                width: 50%;

                ul{
                    li{
                        a{
                            font-size: 1em;
                        }
                    }
                }
            }

            .footer_sosmed{
                .footer_social_media{
                    width: 20%;
                }

                .footer_created{
                    h2{
                        font-size: .8em;
                    }
                }
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .footer{
        .wrap_container{
            h1{
                font-size: 1.5em;
            }

            .footer_nav{
                width: 65%;

                ul{
                    li{
                        a{
                            font-size: .95em;
                        }
                    }
                }
            }

            .footer_sosmed{
                .footer_social_media{
                    width: 20%;
                }

                .footer_created{
                    h2{
                        font-size: .8em;
                    }
                }
            }
        }
    }
}