.hasil_kuesioner{
    max-width: $max-width-container;
    margin: auto;
    // background-color: red;
    // position: relative;

    .logo_app_hasil_kuesioner{
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: 40px;

        h2{
            margin: 0;
        }
    }

    .hasil_kuesioner_pendaftaran{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 50px;
        // position: absolute;
        // top: 60%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // width: 1100px;

        // .btn_export_hasil_kuesioner{
        //     margin: 20px 0 100px 0;
        // }
    }
}