.hasil_kuesioner{
    max-width: $max-width-container;
    margin: auto;

    .logo_app_hasil_kuesioner{
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: 40px;

        h2{
            margin: 0;
        }
    }

    .hasil_kuesioner_pendaftaran{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 50px;
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .hasil_kuesioner{
        .logo_app_hasil_kuesioner{
            h2{
                font-size: 1.3em;
            }
        }
    }
}