.join_us{
    background: linear-gradient(to left, #3d92f3, #4364F7, #0052D4);
    width: 730px;
    margin: 0 auto 0 auto;
    padding: 20px 20px 20px 20px;
    color: $white-color;
    border-radius: 5px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, 170%);

    h1{
        margin: 0;
    }

    p{
        margin: 0 0 30px 0;
    }

    .btn_join{
        background-color: rgb(238, 238, 238);
        color: $black-color;
        box-shadow: none;
        outline: none;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
        
        &:hover{
            background-color: rgb(238, 238, 238);
            color: $black-color;
            box-shadow: none;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .join_us{
        top: 78%;
        width: 80%;
    }
}

// for mobile
@media screen and (max-width: 576px){
    .join_us{
        top: 75%;

        h1{
            font-size: 1.6em;
        }

        p{
            font-size: .9em;
        }
    }
}