.kuesioner{
    max-width: $max-width-container;
    margin: auto;

    .logo_app_kuesioner{
        padding: 30px 0 0 0;

        h2{
            margin: 0 0 0 40px;
        }
    }

    .kuesioner_pendaftaran{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px 100px 40px;

        .btn_submit_kuesioner{
            font-weight: bold;
            margin-top: 20px;
            width: 200px;
            padding: 7px;
            align-self: flex-end;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .kuesioner{
        .logo_app_kuesioner{
            h2{
                font-size: 1.2em;
            }
        }
    }
}