.panduan{
    max-width: $max-width-container;
    margin: auto;

    .logo_app{
        padding: 20px 0 0 30px;
        background-image: url("../../images/wave_for_kuesioner.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;

        h2{
            margin: 0;
        }
    }

    .panduan_pendaftaran{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;

        h1{
            margin: 0;
            font-size: 2em;
        }

        p{
            margin: 5px 0 15px 0;
            font-size: 1em;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .panduan{
        .logo_app{
            padding-left: 20px;

            h2{
                font-size: 1.2em;
            }
        }

        .panduan_pendaftaran{
            h1{
                font-size: 1.5em;
            }

            p{
                font-size: .9em;
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .panduan{
        .logo_app{
            padding-top: 15px;

            h2{
                font-size: 1.2em;
            }
        }

        .panduan_pendaftaran{
            text-align: center;
            h1{
                font-size: 1.3em;
            }

            p{
                font-size: .85em;
            }
        }
    }
}