// styling for padding component footer when page is loaded
.pemberitahuan_foot{
    padding: $padding-footer;
    margin-top: $mt-30;
}

.pemberitahuan_content{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    .cari_pemberitahuan{
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .data_pemberitahuan{
        .data_diri_pemberitahuan{
            .nik_nm_lengkap_pemberitahuan{
                display: flex;
                justify-content: space-between;
                font-size: 1.1em;
            }

            .alamat_status_pemberitahuan{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                font-size: 1.1em;

                .alamat_alternatif{
                    width: 70%;
                }
            }

            .masukan_admin{
                margin-top: 10px;
                font-size: 1.1em;
            }
        }
    }
}
