// styling for padding component footer when page is loaded
.pemberitahuan_foot{
    padding: $padding-footer;
    margin-top: $mt-30;
}

.pemberitahuan_content{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    .cari_pemberitahuan{
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .data_pemberitahuan{
        .alert_pemberitahuan{
            width: 640px;
            display: block;
            margin: 30px auto 0 auto;
        }

        .data_diri_pemberitahuan{
            .nik_nm_lengkap_pemberitahuan{
                display: flex;
                justify-content: space-between;
                font-size: 1.1em;
            }

            .alamat_status_pemberitahuan{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                font-size: 1.1em;

                .alamat_alternatif{
                    width: 70%;
                }
            }

            .masukan_admin{
                margin-top: 10px;
                font-size: 1.1em;
            }
        }
    }

    .tidak_ada_pemberitahuan{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;

        p{
            margin: 0;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .pemberitahuan_content{
        .data_pemberitahuan{
            .alert_pemberitahuan{
                width: 60%;
            }

            .nik_nm_lengkap_pemberitahuan{
                flex-direction: column;

                .nm_lengkap_alternatif{
                    margin-top: 10px;
                }
            }

            .alamat_status_pemberitahuan{
                flex-direction: column;

                .status_alternatif{
                    margin-top: 10px;
                }
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .pemberitahuan_content{
        .alert_info_pemberitahuan{
            font-size: .85em;
        }

        .data_pemberitahuan{
            .alert_pemberitahuan{
                font-size: .85em;
                width: auto;
            }

            p{
                font-size: .9em;
            }
        }

        .tidak_ada_pemberitahuan{
            p{
                font-size: .85em;
            }
        }
    }
}
