.success_register{
    max-width: $max-width-container;
    margin: -40px auto 0 auto;

    .register_success{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 400px;
        }

        h1{
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 1.6em;
        }

        p{
            margin: 0 0 20px 0;
            padding: 0;
        }

        .btn_kembali_login{
            padding: 10px;
            font-weight: bold;
            font-size: .8em;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .success_register{
        margin-top: 0;

        .register_success{
            img{
                width: 300px;
            }

            h1{
                font-size: 1.3em;
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .success_register{
        .register_success{
            img{
                width: 300px;
            }

            h1{
                font-size: 1.2em;
            }

            p{
                font-size: .9em;
            }

            .btn_kembali_login{
                padding: 8px;
                font-size: .8em;
            }
        }
    }
}