.success-pendaftaran-bantuan{
    background-color: $primary-color;
    color: $white-color;
    height: 100vh;

    .success-title{
        max-width: $max-width-container;
        margin: auto;
        padding: 20px 0 0 20px;
        
        h3{
            margin: 0;
            font-size: 1.5em;
        }
    }

    .success-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 5px 0 5px;

        img{
            width: 400px;
        }

        h2{
            margin: 20px 0 10px 0;
        }

        p{
            margin: 0;
        }

        .btn_back{
            margin-top: 20px;
            margin-bottom: 50px;
            box-shadow: none;
            padding: 15px;
            color: $white-color;
            border-color: $white-color;
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .success-pendaftaran-bantuan{
        .success-title{
            h3{
                font-size: 1.3em;
            }
        }

        .success-content{
            img{
                width: 300px;
            }

            h2{
                font-size: 1.3em;
            }

            p{
                font-size: .9em;
            }
        }
    }
}