.sudah_mengisi{
    .sudah_title{
        padding-top: 20px;
        padding-left: 20px;

        h2{
            margin: 0;
            font-size: 1.3em;
        }
    }

    .sudah_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 5px 0 5px;

        h2{
            margin: 10px 0 10px 0;
            font-size: 1.3em;
        }

        img{
            width: 350px;
        }

        p{
            margin: auto;
            font-size: .9em;
            width: 50%;

            &:nth-child(4){
                width: 80%;
                text-align: center;
            }

            a{
                color: $primary-color;
            }
        }
    }
}

// Responsive Breakpoints
// for tablet
@media screen and (max-width: 768px){
    .sudah_mengisi{
        .sudah_title{
            h2{
                font-size: 1.25em;
            }
        }

        .sudah_content{
            padding: 40px 10px 0 10px;

            h2{
                font-size: 1.25em;
            }

            img{
                width: 250px;
            }

            p{
                width: 100%;
                font-size: .85em;
            }
        }
    }
}

// for mobile
@media screen and (max-width: 576px){
    .sudah_mengisi{
        .sudah_title{
            h2{
                font-size: 1.1em;
            }
        }

        .sudah_content{
            padding: 40px 7px 0 7px;

            h2{
                font-size: 1.1em;
            }

            img{
                width: 230px;
            }

            p{
                width: 100%;
                font-size: .8em;
            }
        }
    }
}