.history_kebijakan{
    max-width: $max-width-container;
    margin: auto;

    .logo_app{
        h2{
            font-size: 1.2em;
        }
    }

    .content{
        max-width: 1000px;
        margin: auto;
        padding-top: 10px;

        h3{
            text-align: center;
        }

        // styling for box result data bantuan
        .MuiBox-root{
            transition: .5s;
            margin-bottom: 20px;

            &:hover{
                box-shadow: $card-box-shadow;
                cursor: pointer;
            }
        }

        .judul_history{
            font-size: 1.3em;
            margin-bottom: 6px;
        }

        .click_history{
            font-size: .9em;
        }
    }
}

.MuiDialogContent-root{
    .detail_history{
        .user_detail{
            margin-bottom: 10px;

            .profile_user{
                display: flex;
                align-items: center;

                .data_diri{
                    margin: 0 0 0 10px;

                    .nm_lengkap{
                        font-size: 1em;
                    }

                    .jabatan{
                        font-size: .85em;
                    }
                }
            }
        }

        .tanggal_waktu{
            display: flex;
            justify-content: space-between;

            .tanggal{
                width: 50%;
            }

            .waktu{
                width: 50%;
            }
        }

        .keterangan_kebijakan{
            p{
                margin-top: 10px;
            }
        }
    }
}