.history_kebijakan{
    max-width: $max-width-container;
    margin: 0 auto 100px auto;

    .logo_app{
        h2{
            font-size: 1.2em;
        }
    }

    .content{
        max-width: 1000px;
        margin: auto;
        padding-top: 10px;

        .flex_element_bantuan{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .history_kebijakan_bantuan{
                .btn_history_kebijakan{
                    height: 55px;
                }
            }
        }

        h3{
            text-align: center;
        }

        // styling for box result data bantuan
        .MuiPaper-root{
            transition: .5s;
            box-shadow: none;
            margin-top: 30px;

            &::before{
                height: 0;
            }

            &:hover{
                box-shadow: $card-box-shadow;
                cursor: pointer;
            }

            .MuiAccordionSummary-content{
                box-shadow: none;
                margin: 0;
            }
        }
        
        .content_history{
            cursor: default;
            box-shadow: none;
            
            .creator_history{
                // background-color: red;
                margin-bottom: 20px;
                
                p{
                    margin: 0 0 12px 0;
                }
                
                .profile_user{
                    display: flex;
                    align-items: center;

                    .foto{
                        margin-right: 10px;
                    }

                    .data_diri{
                        .nm_lengkap{
                            text-transform: capitalize;
                            font-size: .9em;
                        }

                        .jabatan{
                            background-color: rgba(122, 180, 255, 0.397);
                            color: rgba(4, 0, 255, 0.815);
                            font-weight: bold;
                            font-size: .8em;
                            padding: 3px;
                            margin-top: 5px;
                            width: 45px;
                            border-radius: 8px;
                        }
                    }
                }
            }
            
            .ket_history{
                margin-bottom: 20px;
                p{
                    margin-top: 0;
                }
            }
        }
        
        .judul_history{
            box-shadow: none;
            p{
                margin-top: 10px;
                font-size: .9em;
                text-decoration: underline;

                &:nth-child(1){
                    font-size: 1em;
                    margin-bottom: 0;
                    text-decoration: none;
                }
            }
        }

        .click_history{
            font-size: .9em;
        }
    }
}

.MuiDialogContent-root{
    .detail_history{
        .user_detail{
            margin-bottom: 10px;

            .profile_user{
                display: flex;
                align-items: center;

                .data_diri{
                    margin: 0 0 0 10px;

                    .nm_lengkap{
                        font-size: 1em;
                    }

                    .jabatan{
                        font-size: .85em;
                    }
                }
            }
        }

        .tanggal_waktu{
            display: flex;
            justify-content: space-between;

            .tanggal{
                width: 50%;
            }

            .waktu{
                width: 50%;
            }
        }

        .keterangan_kebijakan{
            p{
                margin-top: 10px;
            }
        }
    }
}

.MuiPaper-root{
    .MuiList-root{
        padding: 0;

        .MuiMenuItem-root{
            padding: 12px;

            .profile_pengguna{
                // background-color: red;
                width: 100%;
                display: flex;
                align-items: center;
    
                .img_pengguna{
                    margin-right: 10px;
                }
    
                .nama_pengguna{
                    text-transform: capitalize;
                }
            }
        }
    }
}

.MuiBox-root{
    .MuiTypography-root{
        margin-bottom: 15px;
    
        .MuiFormControl-root{
            .MuiOutlinedInput-root{
                .profile_pengguna{
                    width: 100%;
                    display: flex;
                    align-items: center;
        
                    .img_pengguna{
                        margin-right: 10px;
                    }
        
                    .nama_pengguna{
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}