.wrap_tbl_bantuan{
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 16px 32px -4px;
    padding: 20px 10px 20px 10px;

    .flex_element_bantuan{
        display: flex;
        justify-content: space-between;

        .add_bantuan_flex{
            display: flex;
            align-items: center;

            .btn_add_bantuan{
                height: 100%;
                margin-right: 20px;
                background-color: rgb(36, 122, 36);
                
                &:hover{
                    background-color: green;
                }
            }

            .inp_cari{
                width: 100%;
            }
        }

        .btn_export_bantuan{
            width: 310px;
            display: flex;
            justify-content: space-between;

            .generate_pdf_bantuan{
                background-color: rgb(255, 46, 46);
                
                &:hover{
                    background-color: red;
                }
            }

            .generate_excel_bantuan{
                height: 55px;
                background-color: rgb(36, 122, 36);
                
                &:hover{
                    background-color: green;
                }
            }
        }
    }
}