.wrap_form_tbh_bantuan{
    margin: 20px 0 100px 0;
    position: relative;

    form{
        display: flex;
        flex-direction: column;

        .banner_bantuan{
            .btn_upload_banner_bantuan{
                background-color: transparent;
                    border: 1px dashed $primary-color;
                    box-shadow: none;
                    display: flex;
                    flex-direction: column;
                    width: 380px;
                    height: 160px;
                    color: rgb(155, 155, 155);

                    p{
                        margin: 0;
                        font-size: .9em;

                        &:nth-child(2){
                            margin-top: 8px;
                        }
                    }
            }
        }
    }
}