.wrap_tbl_user{
    margin: 20px 0 100px 0;
    border-radius: 8px;
    box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 16px 32px -4px;
    padding: 20px 10px 10px 10px;

    .flex_element_user{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .print_data_user{
            button{
                height: 50px;
                border: 1px dashed rgb(71, 71, 71);
            }
        }
    }

    .show_length_data_user{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;

        p{
            margin: 0 10px 0 0;
        }
    }
}


