.dahsboard_info_petugas{
    display: flex;
    margin-top: 20px;

    .info_item_pendaftaran{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 200px;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 16px;

        &:nth-child(1), &:nth-child(2), &:nth-child(3){
            margin-right: 40px;
        }

        .info_img{
            padding: 20px 20px 15px 20px;
            border-radius: 50%;
        }

        .info_detail_pendaftaran{
            margin-top: 10px;

            h2{
                font-size: 2em;
                margin: 0;
            }

            p{
                font-size: .9em;
                margin: 0;
            }
        }
    }
}
