.pendaftaran_petugas_detail{
    max-width: $max-width-container;
    margin: auto;

    .logo_app{
        h2{
            font-size: 1.2em;
        }
    }

    .wrap_tbl_pendaftaran_petugas{
        max-width: 1200px;
        margin: auto;

        .flex_element_pendaftaran_petugas{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn_cetak{
                .btn_history_kebijakan{
                    height: 55px;
                }
            }
        }

        .table_pendaftaran_petugas{
            .role_pending{
                background-color: rgba(122, 180, 255, 0.397);
                color: rgba(4, 0, 255, 0.815);
                font-weight: bold;
                font-size: .85em;
                padding: 7px;
                border-radius: 8px;
            }

            .role_memenuhi{
                background-color: rgba(78, 252, 165, 0.397);
                color: rgba(43, 170, 31, 0.836);
                font-weight: bold;
                font-size: .85em;
                padding: 7px;
                border-radius: 8px;
            }

            .role_tidak_memenuhi{
                background-color: rgba(252, 104, 78, 0.397);
                color: rgba(192, 29, 29, 0.836);
                font-weight: bold;
                font-size: .85em;
                padding: 7px;
                border-radius: 8px;
            }

            .btn_detail_pendaftaran_bantuan_petugas{
                padding: 5px;
                font-size: .8em;
                background-color: rgba(122, 180, 255, 0.397);
                color: rgba(4, 0, 255, 0.815);
                box-shadow: none;
                font-weight: bold;
        
                &:hover{
                    background-color: rgba(122, 180, 255, 0.397);
                    box-shadow: none;
                }
            }

            .show_length_data_verifikasi_bantuan{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 10px;

                p{
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}